repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or:
          [javascript, jsx, ts, tsx, css, scss, html, json, markdown, yaml]

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bun run lint
        language: system
        types: [file]
        files: \.[jt]sx?$
        pass_filenames: false
